@import url(reset.css);
@import url(./fonts.css);
body{
    max-width: 1300px;
    margin:0 auto;
    font-family: inter,sans-serif;
    font-size: 25px;
    max-width: 1200px;
    margin:0 auto;
    background-color: black;
    color: azure;
}
.list {
}
.list_icon {
    padding: 25px 0px 25px 0px;
    display: inline-block;
}
.list_icon:not(:last-child),
.block_logo .logo:not(:last-child),
.block_main_icon_svg .mein_icon:not(:last-child) {
    margin-right: 20px;
}
.title_svg,.sub-title_icon_svg,.sub_title_raster {
    font-family: poppins,sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.47;
  padding: 50px 20px 50px 20px;
}
.block_raster_imege_webp {
    text-align: center;
    padding-bottom: 100px;
}
.block_raster_imege_webp .raster:not(:last-child){
    margin-bottom: 40px;
}

